################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vspscc
*.lock
.vs
*.suo
obj
bin

